:root {
    --color-primary: #5B7FBD;
    --color-secondary: #DF6DAB;
    --font-family-bold: 'Random Grotesque Standard';
    --font-family-normal: 'Random Grotesque Standard';
    --font-family-500: 'Random Grotesque Standard Medium';
    --font-family-400: 'Random Grotesque Standard Book';
    --font-family-300: 'Random Grotesque Spacious Book';
}