body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


div#root .container {
  max-width: 1048px;
  padding-left:100px; padding-right: 100px;
}
.post-tag-meta { flex-wrap: wrap;}
.post-article .post-tag-meta { margin-bottom: 15px;}
a.btn.btn-text-link {
  padding: 0;
}

.iframe-embade.home-vid-iframe {
  max-width: 900px;
  margin: 0 auto;
}

.thank_you_w {
  min-height: 500px;
  padding: 35px 25px;
  display: flex; justify-content: center; align-items: center; 
  background-size: cover; 
  background-position: center;
}
.thank_you_content {
  background-color: #fff;
  padding: 25px;
  max-width: 500px;
  width: 100%;
  min-height: 250px;
  display: flex; flex-direction: column; justify-content: center; align-items: center;
}
.thank_you_content p:last-child { margin-bottom: 0;}
.blue-title { font-family: "Random Grotesque Standard"; color: #bcdde0;}
.thank_you_content p { color: rgb(29 144 153);}

@media only screen and (max-width: 992px) {
  div#root .container {
    padding: 0 50px;
  }
}

@media only screen and (max-width: 992px) { 
  div#root .container {
    padding: 0 25px;
  }
}